<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>HundirFlotaServlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HundirFlotaServlet</display-name>
    <servlet-name>HundirFlotaServlet</servlet-name>
    <servlet-class>servlets.HundirFlotaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HundirFlotaServlet</servlet-name>
    <url-pattern>/HundirFlotaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SolucionPartidaServlet</display-name>
    <servlet-name>SolucionPartidaServlet</servlet-name>
    <servlet-class>servlets.SolucionPartidaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SolucionPartidaServlet</servlet-name>
    <url-pattern>/SolucionPartidaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NuevaPartidaServlet</display-name>
    <servlet-name>NuevaPartidaServlet</servlet-name>
    <servlet-class>servlets.NuevaPartidaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NuevaPartidaServlet</servlet-name>
    <url-pattern>/NuevaPartidaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SalirPartidaServlet</display-name>
    <servlet-name>SalirPartidaServlet</servlet-name>
    <servlet-class>servlets.SalirPartidaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SalirPartidaServlet</servlet-name>
    <url-pattern>/SalirPartidaServlet</url-pattern>
  </servlet-mapping>
</web-app>